.header_section{
    display: flex;
    flex-direction: column;
    column-count: 2;
    justify-content: space-between;
    align-items: center;
}
.header_section_bgc{
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    background-image: url(/background.png);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.zg1{
    font-size: 72px;
    line-height: 1.2em;
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;

}
.zg2{
    font-size: 60px;
    line-height: 1.2em;
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
}
.tx{
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}
.picture{
    position: relative;
    height: 525px;
    top: 55px;
    right: -270px;
    width: auto;
}
.button{
    width: 148px;
    height: 49px;
    box-sizing: border-box;
    background-color: #FE8A02;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", serif;
    font-weight: bold;
    margin: 24px 12px;
    padding: 24px 12px;
}